@mixin filter_brightness($percent) {
	filter: brightness($percent);
	-webkit-filter: brightness($percent);
}

@mixin filter_opacity($percent){
	$ie_value: $percent * 100;
	opacity: $percent;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity="+$ie_value+")";
	filter: alpha(opacity=$ie_value);
}