$popup_bg: white;
$popup_border: #aaa;
$underlay_bg: black;
$btn_cancel_border: $popup_border;
$btn_cancel_bg: $popup_bg;
$btn_cancel_color: black;
$btn_warning_border: red;
$btn_warning_bg: $btn_warning_border;
$btn_warning_color: white;

$popup_width: 300px;
$popup_height: 200px;
$popup_marg_top: -($popup_height / 2);
$popup_marg_left: -($popup_width / 2);
$header_height: 150px;
$btn_width: 140px;
$btn_height: 35px;
$btn_marg_top: -($btn_height / 2);
$btn_marg_left: -($btn_width / 2);
$border_radius: 6px;

@import 'mixins';

* {
	font-family: 'Open Sans', sans-serif;
}

body {
	padding: 20px;
	margin: 0;
}

button:focus {
	outline: 0;
}

.popup {
	width: $popup_width;
	height: $popup_height;
	border-radius: $border_radius;
	border: 2px $popup_border solid;
	background: $popup_bg;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: $popup_marg_top;
	margin-left: $popup_marg_left;
	display: none;
	@include filter_opacity(0);
	z-index: 2;
	padding: 10px;
}

.popup-button {
	cursor: pointer;
	height: $btn_height;
	width: $btn_width;
	border: 1px solid;
	border-radius: $border_radius;

	&_show {
		position: fixed;
		top: 50%;
		left: 50%;
		margin-top: $btn_marg_top;
		margin-left: $btn_marg_left;
		color: $btn_warning_color;
		border-color: $btn_warning_border;
		background: $btn_warning_bg;
	}
}

.popup-button:hover {
	@include filter_brightness(90%);
}

.popup-button:active {
	@include filter_brightness(60%);
}

.popup-header {
	text-align: center;
	position: relative;
	height: $header_height;

	&__icon {
		width: 70px;
		height: 70px;
	}
}

.popup__icon-close {
	position: absolute;
	cursor: pointer;
	left: 5px;
	top: 5px;
	z-index: 3;
}

.popup__icon-close:hover {
	@include filter_opacity(0.8);
}

.popup-footer {
	position: relative;

	&__button {
		height: $btn_height;
		width: $btn_width;
		margin: 0 5px;
		border: 2px solid;
		border-radius: $border_radius;

		&_cancel {
			float: left;
			border-color: $btn_cancel_border !important;
			background: $btn_cancel_bg;
			color: $btn_cancel_color;
		}
		&_uninstall {
			float: right;
			border-color: $btn_warning_border !important;
			background: $btn_warning_bg;
			color: $btn_warning_color;
		}
	}
}

.popup-underlay {
	z-index: 1;
	position: fixed;
	background-color: $underlay_bg;
	@include filter_opacity(0.8);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	cursor: pointer;
	display: none;
}